<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/main.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>

    <title><%=botName%> | 404</title>
</head>
<body>
    <div class="header">
        <h1>404</h1>
        <h3>this is an <a href="https://github.com/tascord/cRob">open source</a> bot</h3>
        
        <div class="navBar">
            <ul>
                <li><a href="/" class="active">Home</a></li>
                <li><a href="/<%=ldUrl%>"><%=ldLabel%></a></li>
                <li><a href="/stats">Stats</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
    </div>

    <h1>Sorry Mate, That Page Dosen't Exist!</h1>
    <h3>Meanwhile, fancy a game of minesweeper?</h3>

    <iframe src="http://www.chezpoor.com/minesweeper/minecore.html" frameborder="0" scrolling="no" class="msweep"></iframe>


</body>
</html>