<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="main.css">
    
    <title><%=botName%> | Login</title>
</head>
<body>
    <div class="header">
        <h1>Login</h1>
        <h3>this is an <a href="https://github.com/tascord/cRob">open source</a> bot</h3>
        
        <div class="navBar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/<%=ldUrl%>" class="active"><%=ldLabel%></a></li>
                <li><a href="/stats">Stats</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
    </div>

    <form action="/login" method="POST" class="login">
       
        <div>
            <h2>Login</h2>
            <h3><a href="/register">Register</a></h3>
        </div>
        
        <input type="text" placeholder="Username" required>
        <input type="password" placeholder="Password" required>
        <button type="submit">Login</button>
    </form>

</body>
</html>