<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="p/css/main.css">

    <title><%=botName%> | About</title>
</head>
<body>
    <div class="header">
        <h1>About</h1>
        <h3>this is an <a href="about">open source</a> bot</h3>
        
        <div class="navBar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/<%=ldUrl%>"><%=ldLabel%></a></li>
                <li><a href="/stats">Stats</a></li>
                <li><a href="/about" class="active">About</a></li>
            </ul>
         </div>
    </div>
    
    <p class="para">
        <b>This bot is powered by <a>cRob</a>, an open source modular Discord bot written in NodeJs!</b><br><br>
        If you're intrested in running your own bot or just checking it out for yourself go check out the project <a href="https://github.com/tascord/cRob">Here!</a>
    </p>

</body>
</html>